/* Main Primary color */

.spc-orca-0 {
    background-color: #F2D717;
    color: #000000;
}

a {
    color: #000000;
}

.spc-orca-0 .text-primary {
    color: #F2D717 !important;
}

.spc-orca-0.spc-inverse {
    background-color: #F2D717;
    color: #ffffff;
}

.spc-orca-1 {
    background-color: #96BF26;
    color: #000000;
}

.spc-orca-1 .text-primary {
    color: #96BF26 !important;
}

.spc-orca-1.spc-inverse {
    background-color: #96BF26;
    color: #ffffff;
}

.spc-orca-2 {
    background-color: #798C46;
    color: #000000;
}

.spc-orca-2 .text-primary {
    color: #798C46 !important;
}

.spc-orca-2.spc-inverse {
    background-color: #798C46;
    color: #ffffff;
}

.spc-orca-3 {
    background-color: #5567F4;
    color: #000000;
}

.spc-orca-3 .text-primary {
    color: #5567F4 !important;
}

.spc-orca-3.spc-inverse {
    background-color: #5567F4;
    color: #ffffff;
}

.spc-orca-4 {
    background-color: #2660BF;
    color: #000000;
}

.spc-orca-4 .text-primary {
    color: #2660BF !important;
}

.spc-orca-4.spc-inverse {
    background-color: #2660BF;
    color: #ffffff;
}

.spc-primary-0 {
    background-color: #FFDF00;
    color: #000000;
}

.spc-primary-0 .text-primary {
    color: #FFDF00 !important;
}

.spc-primary-0.spc-inverse {
    background-color: #FFDF00;
    color: #ffffff;
}

.spc-primary-1 {
    background-color: #FFEC64;
    color: #000000;
}

.spc-primary-1 .text-primary {
    color: #FFEC64 !important;
}

.spc-primary-1.spc-inverse {
    background-color: #FFEC64;
    color: #ffffff;
}

.spc-primary-2 {
    background-color: #FFE739;
    color: #000000;
}

.spc-primary-2 .text-primary {
    color: #FFE739 !important;
}

.spc-primary-2.spc-inverse {
    background-color: #FFE739;
    color: #ffffff;
}

.spc-primary-3 {
    background-color: #C6AD00;
    color: #000000;
}

.spc-primary-3 .text-primary {
    color: #C6AD00 !important;
}

.spc-primary-3.spc-inverse {
    background-color: #C6AD00;
    color: #ffffff;
}

.spc-primary-4 {
    background-color: #9B8800;
    color: #000000;
}

.spc-primary-4 .text-primary {
    color: #9B8800 !important;
}

.spc-primary-4.spc-inverse {
    background-color: #9B8800;
    color: #ffffff;
}

.spc-secondary-1-0 {
    background: #03899C;
    color: #000000;
}

.spc-secondary-1-0 .text-primary {
    color: #03899C;
}

.spc-secondary-1-0.spc-inverse {
    background: #03899C !important;
    color: #ffffff;
}

.spc-secondary-1-1 {
    background: #49A8B5;
    color: #000000;
}

.spc-secondary-1-1 .text-primary {
    color: #49A8B5 !important;
}

.spc-secondary-1-1.spc-inverse {
    background: #49A8B5;
    color: #ffffff;
}

.spc-secondary-1-2 {
    background: #2793A3;
    color: #000000;
}

.spc-secondary-1-2 .text-primary {
    color: #2793A3 !important;
}

.spc-secondary-1-2.spc-inverse {
    background: #2793A3 !important;
    color: #ffffff;
}

.spc-secondary-1-3 {
    background: #026A79;
    color: #000000;
}

.spc-secondary-1-3 .text-primary {
    color: #026A79 !important;
}

.spc-secondary-1-3.spc-inverse {
    background: #026A79;
    color: #ffffff;
}

.spc-secondary-1-4 {
    background: #01545F;
    color: #000000;
}

.spc-secondary-1-4 .text-primary {
    color: #01545F !important;
}

.spc-secondary-1-4.spc-inverse {
    background: #01545F;
    color: #ffffff;
}

.spc-secondary-2-0 {
    background: #FF7A00;
    color: #000000;
}

.spc-secondary-2-0 .text-primary {
    color: #FF7A00 !important;
}

.spc-secondary-2-0.spc-inverse {
    background: #FF7A00;
    color: #ffffff;
}

.spc-secondary-2-1 {
    background: #FFAE64;
    color: #000000;
}

.spc-secondary-2-1 .text-primary {
    color: #FFAE64;
}

.spc-secondary-2-1.spc-inverse {
    background: #FFAE64 !important;
    color: #ffffff;
}

.spc-secondary-2-2 {
    background: #FF9839;
    color: #000000;
}

.spc-secondary-2-2 .text-primary {
    color: #FF9839 !important;
}

.spc-secondary-2-2.spc-inverse {
    background: #FF9839;
    color: #ffffff;
}

.spc-secondary-2-3 {
    background: #C65F00;
    color: #000000;
}

.spc-secondary-2-3 .text-primary {
    color: #C65F00 !important;
}

.spc-secondary-2-3.spc-inverse {
    background: #C65F00;
    color: #ffffff;
}

.spc-secondary-2-4 {
    background: #9B4B00;
    color: #000000;
}

.spc-secondary-2-4 .text-primary {
    color: #9B4B00 !important;
}

.spc-secondary-2-4.spc-inverse {
    background: #9B4B00;
    color: #ffffff;
}

.spc-complement-0 {
    background: #4811AE;
    color: #000000;
}

.spc-complement-0 .text-primary {
    color: #4811AE !important;
}

.spc-complement-0.spc-inverse {
    background: #4811AE;
    color: #ffffff;
}

.spc-complement-1 {
    background: #7D58C3;
    color: #000000;
}

.spc-complement-1 .text-primary {
    color: #7D58C3 !important;
}

.spc-complement-1.spc-inverse {
    background: #7D58C3;
    color: #ffffff;
}

.spc-complement-2 {
    background: #6236B3;
    color: #000000;
}

.spc-complement-2 .text-primary {
    color: #6236B3 !important;
}

.spc-complement-2.spc-inverse {
    background: #6236B3;
    color: #ffffff;
}

.spc-complement-3 {
    background: #380C87;
    color: #000000;
}

.spc-complement-3 .text-primary {
    color: #380C87 !important;
}

.spc-complement-3.spc-inverse {
    background: #380C87;
    color: #ffffff;
}

.spc-complement-4 {
    background: #2A086A;
    color: #000000;
}

.spc-complement-4 .text-primary {
    color: #2A086A !important;
}

.spc-complement-4.spc-inverse {
    background: #2A086A;
    color: #ffffff;
}

.spc-complement-4 {
    background: #2A086A
}