article {
    padding: 0 10px 0 10px;
    margin: 15px;
    height: inherit;
    line-height: normal;
}

#skills article {
    padding: 5px;
    margin: 0;

}

.slogan {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    color: #ffffff;
}