/* Flexible iFrame */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
#contact {
    background-image: url("../img/map.jpg");
}
#contact-item {
    background-color: orange;
}
.no-float {
    float: none;
    display: table-cell;
    border: 1px solid #000000;
}

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#map_button {
    display: none;

}
#callout h1 {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
}
/* For mobile : like samsung grand(480 * 800): */
@media screen and (max-width : 480px){
    #map_canvas {display: none;}
    #map_button { display: inherit;}
    #contact {
        background: orange;
        background-image: "../img/map.jpg";
    }
}


/* For iphone: */
@media screen and (max-width : 320px){
    #map_canvas {display: none;}
    #map_button { display: inherit;}
    #contact {
        background: orange;
        background-image: "../img/map.jpg";
    }

}


/* For ipad: */
@media screen and (max-width : 768px){
    #map_canvas {display: none;}
    #map_button { display: inherit;}
        #contact {
        background: orange;
        background-image: url("../img/map.jpg");
    }
}
/* For ipad: */
@media screen and (max-width : 991px){
    #map_canvas {display: none}
    #map_button { display: inherit;}
    #contact {
        background: orange;
        background-image: url("../img/map.jpg");
    }
}
/* For Screen: */
@media screen and (min-width: 991px){
    #contact {
        background: orange;
        background-image: none;
    }

}



.scrolloff {

}
#map_paralax {}
.container{

}
#top {
    margin: 0;
    padding: 0;
}

#callout {
    width: 100%;
    height: 400px;

}
#banner {
    overflow: hidden;

    width: 80%;
    height: 300px;
}
#start {
    background-color: #a5a5a5;
    margin: 0;
    height: inherit;
    padding: 10px;

}
#business {
    background-color: #337ab7;
    min-height: 450px;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-family: 'Lobster', cursive;

}
#business p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
#sketch, #design, #product p{ font-size: smaller;
}
#news {
    padding: 0;
    margin: 0;
}
#best {
    background-color: #ec971f;
    margin: 0;
    padding: 10px;
    font-family: 'Oxygen', sans-serif;
}
#verified {
    background-color: maroon;
    color: #ffffff;
    margin: 0;
    padding: 10px;
}


#contact{

}
#map{
    margin: 0;
    padding: 0;


}
#address{
    background-color: #337ab7;
    height: inherit;
    margin: 0;
    padding: 10px;
    color: white;
    font-family: 'Oxygen', sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    /*padding: 50px 0;*/
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    /*background: url(../img/b17-5.jpg) no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}