/* Flexible iFrame */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.toggle {
    margin: 5px 5px 0 0;
}

.container {
    border: solid #000000;
    padding: 0;
}

#top h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
}

aside {
    border: dashed blue 2px;

}

p {
    margin-bottom: 15px;
}

.lead p {
    margin-bottom: 15px;
}













#contact {
    background-image: url("../img/map.jpg");
}
#contact-item {

}
.no-float {
    float: none;
    display: table-cell;
    border: 1px solid #000000;
}

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#map_button {
    display: none;

}
#impressions {

}
#callout h1 {

}
/* For mobile : like samsung grand(480 * 800): */
@media screen and (max-width : 480px){
    #map_canvas {display: none;}
    #map_button { display: inherit;}
    #contact {
        background-image: "../img/map.jpg";
    }
}


/* For iphone: */
@media screen and (max-width : 320px){
    #map_canvas {display: none;}
    #map_button { display: inherit;}
    #contact {
        background-image: "../img/map.jpg";
    }

}


/* For ipad: */
@media screen and (max-width : 768px){
    #map_canvas {display: none;}
    #map_button { display: inherit;}

    #contact {
        background-image: url("../img/map.jpg");
    }
}
/* For 17' screen: */
@media screen and (max-width : 991px){
    #map_canvas {display: none}
    #map_button { display: inherit;}
    #contact {
        background-image: url("../img/map.jpg");
    }
}
/* For Screen: */
@media screen and (min-width: 991px){
    #contact {
        background-image: none;
    }

}



.scrolloff {

}
#map_paralax {}


#logo {
    max-width: 200px;
}
#skill {
    min-height: 450px;

    font-family: 'Lobster', cursive;

}



#contact{

}
#map{
    margin: 0;
    padding: 0;


}
#address{
    height: inherit;
    margin: 0;
    padding: 10px;
    font-family: '', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */
.btn {
    text-decoration: none;
    text-transform: none;
}
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    text-transform: none;

}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    text-transform: none;
}

.btn-light {
    border-radius: 0;
    color: #000000 !important;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: none;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: none;
}

a,
a:hover,
a:focus,
a:active {
    text-transform: uppercase;
    text-decoration: underline;
}
/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    /*background: url(../img/b17-5.jpg) no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}